Hi <%= @email %>,<br/><br/>

Welcome to JobBee<br/>
Link to activate your account:<br/>
<a href="<%= @activation_url %>" target="_blank">
  <%= @activation_url %>
</a>
<br/><br/><br/>
Best Regards,<br/>
JobBee Team