<div class="myProfile">
	<!-- personal information -->
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpAvatar">
			<div class="avatarCircle radius80">
				<img src="/images/logo.jpg" width="160px"/>
			</div>
		</div>
		<div class="mpShowDetail">
			<div id="userMainInfo">
				<%= render :partial => 'users/partials/user_main_info'%>
			</div>
			
			<div class="mpInformation" id="mpInformation"><i class="fa fa-briefcase"></i> Thong tin ca nhan</div>
		</div>
	</div>
	<!-- inforations -->
	<div id="userInfo" class="borderLeftStyle mpInfoItemDetail lineBorder">
		<div class="mpContent">
			<div class="mpEditBtn"><i class="fa fa-pencil"></i></div>
			
			<div class="blockItem">
				<div class="mpWkTitle">Email</div>
				<div class="mpItemCnt">tranquoccong142@gmail.com</div>
				
				<div class="mpWkTitle">Ngay sinh</div>
				<div class="mpItemCnt">19/10/1986</div>
				
				<div class="mpWkTitle">Gioi tinh</div>
				<div class="mpItemCnt">Nam</div>
			</div>
			<div class="blockItem">
				<div class="mpWkTitle">Dien thoai</div>
				<div class="mpItemCnt">0126 5881 564</div>
				
				<div class="mpWkTitle">Quoc tich</div>
				<div class="mpItemCnt">Viet Nam</div>
				
				<div class="mpWkTitle">Tinh trang hon nhan</div>
				<div class="mpItemCnt">Da ket hon</div>
			</div>
			
			<div class="blockItem lineBorder">
				<div class="mpWkTitle">Quoc gia</div>
				<div class="mpItemCnt">Viet nam</div>
				
				<div class="mpWkTitle">Tinh/Thanh pho</div>
				<div class="mpItemCnt">Ho chi minh</div>
				
				<div class="mpWkTitle">Dia chi</div>
				<div class="mpItemCnt">11/7A, duong so 13, phuong An Lac, Binh Tan</div>
			</div>
			<div class="blockItem lineBorder">
				<div class="mpWkTitle">Quan/Huyen</div>
				<div class="mpItemCnt">Binh tan</div>
			</div>
			
		</div>
	</div>
	<!-- general information -->
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpTitleItem"><i class="fa fa-bars"></i> Summary</div>
		<div class="mpContent">
			<div class="mpEditBtn"><i class="fa fa-pencil"></i></div>
			Project manager, technical leader
		</div>
	</div>
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpTitleItem"><i class="fa fa-bolt"></i> Key Skills</div>
		<div class="mpContent">
			<div class="mpEditBtn"><i class="fa fa-pencil"></i></div>
			<div class="radiusNormal skillItem">IT- phan mem</div>
		</div>
	</div>
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpTitleItem"><i class="fa fa-language"></i> Languages</div>
		<div class="mpContent">
			<table cellpadding="0" cellspacing="0" width="100%" border="0">
				<tr>
					<th width="35%">Ngoai ngu</th>
					<th width="55%">Trinh do</th>
					<th width="10%"></th>
				</tr>
				<tr>
					<td>English</td>
					<td>Cao cap</td>
					<td align="right"><i class="fa fa-pencil"></i></td>
				</tr>
			</table>
		</div>
		<div class="mpInformation"><i class="fa fa-angle-double-right"></i> Bo sung</div>
	</div>
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpTitleItem"><i class="fa fa-clock-o"></i> Employment History</div>
		<div class="mpContent">
			<div class="mpEditBtn"><i class="fa fa-pencil"></i></div>
			<div class="mpTitle">technical leader</div>
			<div class="mpItemCnt">vietnam work</div>
			<div class="mpItemTime">6/2016 - Hien tai</div>
			<div class="mpItemCnt">
				"Tất nhiên chúng tôi đã theo dõi chặt chẽ điều đang diễn ra, 
				nhưng không tác động đến quá trình theo bất cứ cách nào và cũng chẳng cố làm điều đó", 
				ông Putin cho biết. 
			</div>
		</div>
		<div class="mpInformation"><i class="fa fa-angle-double-right"></i> Bo sung</div>
	</div>
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpTitleItem"><i class="fa fa-mortar-board"></i> Education History</div>
		<div class="mpContent">
			<div class="mpEditBtn"><i class="fa fa-pencil"></i></div>
			<div class="mpTitle">Cong nghe phan mem</div>
			<div class="mpItemCnt">DH khoa hoc tu nhien</div>
			<div class="mpItemCnt">Tien si</div>
			<div class="mpItemTime">6/2016 - Hien tai</div>
			<div class="mpItemCnt">
				"Tất nhiên chúng tôi đã theo dõi chặt chẽ điều đang diễn ra,"
			</div>
		</div>
		<div class="mpInformation"><i class="fa fa-angle-double-right"></i> Bo sung</div>
	</div>
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpTitleItem"><i class="fa fa-book"></i> References</div>
		<div class="mpContent">
			<div class="mpEditBtn"><i class="fa fa-pencil"></i></div>
			<div class="mpTitle">Nguyen Van A</div>
			<div class="mpItemCnt">Quan ly du an</div>
			<div class="mpItemCnt">FPT</div>
			<div class="mpItemCnt">tranquoccong142@gmail.com - 01265881564</div>
		</div>
		<div class="mpInformation"><i class="fa fa-angle-double-right"></i> Bo sung</div>
	</div>
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpTitleItem"><i class="fa fa-tags"></i> Working Preferences</div>
		<div class="mpContent">
			<div class="mpEditBtn"><i class="fa fa-pencil"></i></div>
			
			<div class="blockItem">
				<div class="mpWkTitle">Noi lam viec</div>
				<div class="mpItemCnt">Ho Chi Minh</div>
				
				<div class="mpWkTitle">Nganh nghe</div>
				<div class="mpItemCnt">IT - Phan mem</div>
				
				<div class="mpWkTitle">Muc luong mong muon (USD/thang)</div>
				<div class="mpItemCnt">2,500</div>
			</div>
			<div class="blockItem">
				<div class="mpWkTitle">Cap bac mong muon</div>
				<div class="mpItemCnt">Quan ly du an, giam doc</div>
			</div>
			
		</div>
	</div>
	<div class="borderLeftStyle mpInfoItem">
		<div class="mpTitleItem"><i class="fa fa-soccer-ball-o"></i> Favorites</div>
		<div class="mpContent">
			<div class="mpEditBtn"><i class="fa fa-pencil"></i></div>
			<div class="mpItemCnt">Quan ly du an, giam doc</div>
			<div class="mpItemCnt">Quan ly du an, giam doc</div>
			<div class="mpItemCnt">Quan ly du an, giam doc</div>
		</div>
	</div>
	
</div>
