<table width="100%" border="0">
	<tr>
		<td align="center">
			<form method="post" action="/register" name="frmRegister" id="frmRegister">
				<div class="borderLeftStyle usrSignIn radiusNormal ">
					<div class="loginLogo">
						<!-- <img src="/images/vc_logo/Icon_128x128@2x.png" width="60px;" /> -->
						Join Today
					</div>
					<div class="usrRow">
						<input type="text" name="fname" id="fname" placeholder="First name" />
					</div>
					<div class="usrRow">
						<input type="text" name="lname" id="lname" placeholder="Last name" />
					</div>
					<div class="usrRow">
						<input type="text" name="email" id="email" placeholder="Email" />
					</div>
					<div class="usrRow">
						<input type="password" name="password" id="password" placeholder="Password" />
					</div>
					<!-- <div class="usrRow">
						<input type="password" name="cfm_password" id="cfm_password" placeholder="Confirm Password" />
					</div> -->
					<div class="usrRow">
						<p class="termTxt">By creating an account, I accept <a href="#">Terms Of Service</a> and <a href="#">Privacy Policy</a></p>
						<input class="radiusBorder" type="button" id="signupBtn" value="Sign up" />
						<p class="msgError" id="msgError"></p>
					</div>
					<div class="usrRow">
						Already account? <a href="/sign_in">Sign in</a>
					</div>
				</div>
			</form>
		</td>
	</tr>
</table>
