<table width="100%" border="0">
	<tr>
		<td align="center">
			<div class="borderLeftStyle usrSignIn radiusNormal">
				<div class="loginLogo">
					<!-- <img src="/images/vc_logo/Icon_128x128@2x.png" width="60px;" /> -->
					<%= t(:si_SignIn) %>
				</div>
				<div class="usrRow">
					<input type="text" name="email" id="si_email" placeholder="Email" />
				</div>
				<div class="usrRow">
					<input type="password" name="password" id="si_password" placeholder="Password" />
				</div>
				<div class="usrRow" style="text-align: left;">
					<input type="checkbox" name="remember" id="remember_me"/> <label class="rememberMe" for="remember_me">Remember me</label>
				</div>
				<div class="usrRow">
					<input class="radiusBorder" type="button" id="signinBtn" value="Sign in" />
					<p class="msgError" id="msgError"></p>
				</div>
				<div class="usrRow">
					<a href="/recovery">I cannot access my account</a>
				</div>
				<div class="usrRow">
					<label>Don't have account yet?, <a href="/sign_up">Register now!</a></label>
				</div>
			</div>
		</td>
	</tr>
</table>
