<div class="container" style="min-height: 500px;">
	<!-- banner -->
	<div id="nav"></div>
	<div id="homeBanner">
		<div class="item_banner" style="background-image: url('/images/app/banner/bg_slide.jpg');">
			<!-- <img src="/images/app/banner/bg_slide.jpg" width="100%"/> -->
		</div>
		<div class="item_banner" style="background-image: url('/images/app/banner/bg_slide1.jpg');">
			<!-- <img src="/images/app/banner/bg_slide1.jpg" width="100%"/> -->
		</div>
		<div class="item_banner" style="background-image: url('/images/app/banner/bg_slide2.jpg');">
			<!-- <img src="/images/app/banner/bg_slide2.jpg" width="100%"/> -->
		</div>
	</div>
	
	
	<!-- quick search -->
	<div class="boxSearch">
		<div class="search-title">Find Your Dream Job. Move Up Today!</div>
		<div class="search-keyword"><i class="fa fa-search"></i><input type="text" placeholder="Enter everything you want to find" /></div>
		<div class="search-keyword"><i class="fa fa-list"></i><input type="text" placeholder="All Categories" /></div>
		<div class="search-keyword"><i class="fa fa-location-arrow"></i><input type="text" placeholder="All Locations" /></div>
		<div class="search-btn"><a href="/users/test" data-remote="true">Find jobs</a></div>
	</div>
	
	<!-- top jobs -->
	
	
		
</div>
