.iconTopMenu{
	background-repeat: no-repeat;
	/*background-position-x: center;
	background-position-y: center;*/
	background-size: 25px;
	background-position: center center;
}
.iconComing{
	background-repeat: no-repeat;
	/*background-position-x: center;
	background-position-y: center;*/
	background-size: 15px;
	background-position: center center;
}

.iconSetting{
	background-image: url('/images/vc_icons/Setting_White_Img@2x.png');
}
.iconBookOrder{
	background-image: url('/images/vc_icons/Note_White_Img@2x.png');
}
.iconMaps{
	background-image: url('/images/vc_icons/Map_Trans_White_Img@2x.png');
	background-size: 22px;
}
.iconSearch{
	background-image: url('/images/vc_icons/Setting_White_Img@2x.png');
}
.iconAddTopMenu{
	background-image: url('/images/vc_icons/Plus_White_Img@2x.png');
}

/*icons setting*/
.iconCalendar{
	background-image: url('/images/vc_icons/Folder_White_Img@2x.png');
}
.iconContext{
	background-image: url('/images/vc_icons/Context_White_Img@2x.png');
}
.iconEvent{
	background-image: url('/images/vc_icons/Events_White_Img@2x.png');
}
.iconEventGray{
	background-image: url('/images/vc_icons/Default_Events_Gray_Img@2x.png');
}
.iconTaskGray{
	background-image: url('/images/vc_icons/Default_Task_Gray_Img@2x.png');
}

.iconTask{
	background-image: url('/images/vc_icons/Task_White_Img@2x.png');
}
.iconAlert{
	background-image: url('/images/vc_icons/Alert_White_Img@2x.png');
}
.iconNote{
	background-image: url('/images/vc_icons/Note_White_Img@2x.png');
}
.iconInvitation{
	background-image: url('/images/vc_icons/Invitation_Setting_White_Img@2x.png');
}
.iconSecurity{
	background-image: url('/images/vc_icons/Security_White_Img@2x.png');
}
.iconBackup{
	background-image: url('/images/vc_icons/Backup_White_Img@2x.png');
}
.iconVigCloud{
	background-image: url('/images/vc_icons/AweCloud_White_Img@2x.png');
}
.iconClose{
	background: url('/images/vigcal/close.png') center center no-repeat;
}

.iconCheckOffGray{
	background: url('/images/vc_icons/Check_Off_Gray_Img.png') center center no-repeat;
}
.iconStarLow{
	background: url('/images/vc_icons/Important_Low_Img.png') center center no-repeat;
}
.iconAddGray{
	background: url('/images/vc_icons/Add_Gray_Img.png') center center no-repeat;
}

/*background skins*/
.skinBg_0{
	background: url('/images/vc_skins/Bg_pattern_0.png');
}
.skinBg_1{
	background: url('/images/vc_skins/Bg_pattern_1.png');
}
.skinBg_2{
	background: url('/images/vc_skins/Bg_pattern_2.png');
}
.skinBg_3{
	background: url('/images/vc_skins/Bg_pattern_3.png');
}
.skinBg_4{
	background: url('/images/vc_skins/Bg_pattern_4.png');
}
.skinBg_5{
	background: url('/images/vc_skins/Bg_pattern_5.png');
}
.skinBg_6{
	background: url('/images/vc_skins/Bg_pattern_6.png');
}
.skinBg_7{
	background: url('/images/vc_skins/Bg_pattern_7.png');
}
.skinBg_8{
	background: url('/images/vc_skins/Bg_pattern_8.png');
}
.skinBg_9{
	background: url('/images/vc_skins/Bg_pattern_9.png');
}
.skinBg_10{
	background: url('/images/vc_skins/Bg_pattern_10.png');
}
.skinBg_11{
	background: url('/images/vc_skins/Bg_pattern_11.png');
}
.skinBg_12{
	background: url('/images/vc_skins/Bg_pattern_12.png');
}
.skinBg_13{
	background: url('/images/vc_skins/Bg_pattern_13.png');
}
.skinBg_14{
	background: url('/images/vc_skins/Bg_pattern_14.png');
}
.skinBg_{15
	background: url('/images/vc_skins/Bg_pattern_15.png');
}
.skinBg_16{
	background: url('/images/vc_skins/Bg_pattern_16.png');
}
.skinBg_17{
	background: url('/images/vc_skins/Bg_pattern_17.png');
}
.skinBg_18{
	background: url('/images/vc_skins/Bg_pattern_18.png');
}
.skinBg_19{
	background: url('/images/vc_skins/Bg_pattern_19.png');
}
.skinBg_20{
	background: url('/images/vc_skins/Bg_pattern_20.png');
}
.skinBg_21{
	background: url('/images/vc_skins/Bg_pattern_21.png');
}
.skinBg_22{
	background: url('/images/vc_skins/Bg_pattern_22.png');
}
.skinBg_23{
	background: url('/images/vc_skins/Bg_pattern_23.png');
}

/*avatar*/
.avatar_def{
	background: url('/images/vigcal/def_avatar.png') center center no-repeat;
}

