/* CSS Document */

.CalendarRed{
	width:98%;
	height:250px;
	margin-left: 1%;
	border:0px solid;
	color: #FFFFFF;
}

.CalendarRed td{
	border:0px #CCCCCC solid;
	text-align:center;	
}

.CalendarRed td.SelectedDay, .CalendarRed td.SelectedDay .numberDay{
	background-color:#b4defb;
	color:red;
}

.CalendarRed tr.TitleBar td{
	/*font-weight:bold;*/
	font-size:16px;
	/*background:#CCFFFF;*/
	color:#FFFFFF;
	font-size:14px;
	/*background-color:#0033FF;*/
	border-left:solid #f4f3f3 0px;
	border-right:solid #f4f3f3 0px;
	border-top:solid #f4f3f3 0px;
	/*background:url(/images/calpad/title_pattern_black.png) bottom center repeat-x;*/
	text-align: center;
}

.CalendarRed tr.TitleBar td a{
	color:#666666;
	text-decoration:none;
	text-transform:none;
}

.CalendarRed tr.Days td{
	border:solid #CCCCCC 0px;
	color:#FFFFFF;
	cursor:pointer;
	width: 14.28%;
	text-align: center;
	vertical-align: middle;
}

.CalendarRed tr.Days td a{
	color:#FFFFFF;
	text-decoration:none;
	text-transform:none;
}

.CalendarRed tr.Days td:hover{
	background-color:#f9d798;
	color: #333333;
}

.CalendarRed .WeekName td{
	font-weight:bold;
	color:#FFFFFF;
	/*background-color:#E5E5E5;*/
	border:solid #CCCCCC 0px;

}

/*.CalendarRed{
	border-collapse:collapse;
	font:normal 11px Verdana, Arial, sans-serif;
	background:#f4f3f3;
	border:0px solid;
}*/

/* =========== for calendar ========*/
.calendarBox{
	float:left; 
	/*background-color:#7fffd4;*/ 
	width:95%;
	height:180px;
	margin-left:5px;
	margin-top:2px;
}
.calSelMonth{
	background-color:#99FF00;
	width:100%;
	height:inherit;
}
.calPre{
	background:url(/images/vigcal/calendar_prev.png) center center no-repeat;
	float:left;
}
.calNext{
	background:url(/images/vigcal/calendar_next.png) center center no-repeat;
	float:right;
}
.calMakerBusyLT5{
	background-color:#CCCCCC;
}
.calMakerBusyGT5{
	background-color:#999999;
}
/* ========== end for calendar =====*/

/* ======== sd cal box ======*/
.sdCal{
	width:80%;
	float:right;
}
.sdCalbox{
	width:100%;
	height:auto;
}
.sdCW{
	width:20%;
	float:left;
	height:inherit;
	background-color:#0033FF;
}
.miniCalToday{
	width:90%;
	height:19px;
	padding-top:4px;
	margin-top:2px;
	margin-left:4%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	cursor:pointer;
	color:#FFFFFF;
	border: solid 1px #ffffff;
	
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-	border-radius: 8px;
	-moz-border-radius: 8px;
	/*background-color: #FFFFFF;*/
	/*background:url(/images/calpad/menu.png) center center repeat-x;*/
}
.Nav .miniCalToday:hover{
	background-color: #FFFFFF;
	color: #333333;
}
.miniCalSelect{
	/*background:url(/images/calpad/MiniMonthSelectImg_2.png) center center no-repeat;*/
}
.dateHasData{
	width: 4px;
	height: 4px;
	/*background-color: #666666;*/
	float:left;
	margin-top: 7px;
	
}
.numberDay{
	/*margin-left: 20%;*/
	/*margin-right: 1px;*/
	text-align:center;
	margin-top: 9px;
	/*width: 50%;*/
	/*float: left;*/
}

