#bgShowPopup{
	/*width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(252, 238, 223, 0.4);
	background: rgba(252, 238, 223, 0.4);*/
}

/*/////////////////////////////////////////////////*/
.setContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(252, 238, 223, 0.4);
	background: rgba(252, 238, 223, 0.4);
	z-index: 9;
}
.setCalendar{
	/*width: 711px;*/
	width:inherit;
	min-height: 300px;
	height:auto;
	/*margin: auto;*/
	margin-top: 5%;
	/*margin-left: 25%;*/
	/*position: fixed;*/
	background-color: #FFFFFF;
	float: left;
}
.setHeader{
	width: 100%;
	height: auto;
	min-height: 40px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	padding-top: 7px;
	float: left;
}
.settingTitle{
	width: 100%;
	float: left;
	height: 20px;
	/*background-color: red;*/
	padding-bottom: 7px;
}
.settingAddbtn{
	float: right;
	margin-right: 9px;
	width: 20px;
	height: 20px;
	/*background-color: red;*/
	cursor: pointer;
}
.setContent{
	float: left;
	width: 100%;
	height: auto;
}
.setCloseBtn{
	right:0;
	width: 14px;
	height: 14px;
	background-color: #e5e5e5;
	margin-left:7px;
	cursor: pointer;
	/*position: relative;*/
	text-align: center;
	/*padding: 2px;*/
	border: solid 1px #e5e5e5;
	font-size: 13px;
	float: left;
	color: #999999;
}
.setCloseBtn i{
	text-align: center;
}
.setCloseBtn:hover{
	color: #FFFFFF;
	background-color: #b80003;
	border: solid 1px #b80003;
}

.setMenuItem{
	width: 70px;
	min-height: 20px;
	float: left;
	margin-left: 1px;
	cursor: pointer;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 60px;
	margin-bottom:2px;
	
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: 30%;
	background-size: 28px;
	
	border:0px solid #B4B2B2;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-	border-radius: 8px;
	-moz-border-radius: 8px;
}
.setMenuItem i{
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.setMenuItemActive, .setMenuBar div:hover{
	background-color: rgba(252, 238, 223, 0.4);
	/*background: rgba(252, 238, 223, 0.4);*/
}
.setMenuBar a{
	color: #FFFFFF;
}

.setTitle{
	font-size: 18px;
}
/*.iconCalendar{*/
	/*background-image: url('/images/vigcal/header_settings.png');*/
	/*background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 30%;*/
/*}*/
/*.iconContext{
	background-image: url('/images/vigcal/context.png');
}
.iconTask{
	background-image: url('/images/vigcal/header_settings.png');
}
.iconNote{
	background-image: url('/images/vigcal/header_settings.png');
}
.iconAlert{
	background-image: url('/images/vigcal/header_settings.png');
}*/

.calList{
	width: 98%;
	min-height: 50px;
	height: auto;
	max-height: 300px;
	overflow-y: auto;
	color: #333333;
	font-size: 14px;
	padding: 1%;
}
.calList table{
	
}
.calName label{
	margin-left: 7px;
}
.calList table tr{
	height: 30px;
}
.calList table tr.calRow:hover{
	/*background-color: rgba(252, 238, 223, 0.4);*/
	background-color: #E5E5E5;
}
.calList table tr.calRow:hover td.calCol3 i{
	/*display: block;*/
	color: #b80003;
}
.calRow td.calCol3 i{
	/*display: none;*/
	
}
.calHeader{
	color: #6F849D;
	font-size: 17px;
	/*border-bottom: solid 1px #CCCCCC;*/
}
.calHeader td{
	border-bottom: solid 1px #CCCCCC;
}
.calCol1{
	text-align: center;
}
.calCol2{
	text-align: left;
	margin-left: 5px;
	cursor: pointer;
	/*font-size: 15px;*/
}
.calCol3{
	text-align: center;
	cursor: pointer;
}
.starLevel1{
	color: #269628;
}
.starLevel2{
	color: #f28e3b;
}

.calDetail{
	width: 100%;
	min-height: 150px;
	height: auto;
	max-height: 450px;
	overflow-y: auto;
}
.calDetaiCnt{
	width: 98%;
	min-height:200px;
	margin: 1%;
	border: solid 0px #CCCCCC;	
	max-height: 380px;
	overflow-y: auto;
	float: left;
}
.calTitle{
	width: 98%;
	min-height: 10px;
	padding: 1%;
}
.calTitle i{
	font-size: 24px;
	margin: 9px;
	float: left;
	margin-top: 5px;
}
.calTitle input{
	float: left;
	width: 90%;
	border: solid 1px #CCCCCC;
	height: 20px;
	padding: 5px;
	font-size: 17px;
}
.calDetaiCnt table{
	/*height: auto;*/
	min-height: 150px;
	font-size: 15px;
	color: #666666;
	width: 100%;
}
.calMerge select{
	width: 75%;
	height: 29px;
	border: solid 1px #CCCCCC;
	background-color: transparent;
	float: left;
	margin-right: 9px;
}
.calMerge input{
	float: left;
	padding: 5px;
	border: solid 1px #CCCCCC;
	height: 28px;
	width: 75px;	
}
.calDetaiCnt table tr{
	height: 40px;
}
.calDetaiCnt table tr td.setCol1{
	text-align: right;
	width: 35%;
}
.setCol1 label{
	margin-right: 15px;
}
.setCol2{
	
}
.setTab{
	color: #333333;
	border-color: #B4B2B2;
	width: 90px;
}
.calSyncWith{
	width: 32%;
	float: left;
	min-height: 15px;
	text-align: left;
	margin-bottom: 4px;
	/*background-color: red;*/
	padding: 2px;
}
.calSyncWith input{
	margin-right: 7px;
	/*margin-top: 5px;*/
	float: left;
}
.calSyncWith label{
	/*margin-top: -4px;*/
	float: left;
}
.callColor{
	width: 60px;
	height: 20px;
	cursor: pointer;
}
.col1{
	text-align: right;
	padding-right: 9px;
	vertical-align: top;
}

.calsShared{
	width: 75%;
	min-height: 40px;
	float: left;
	text-align: left;
	border: solid 1px #CCCCCC;
	margin-right: 9px;
}
.calBtn{
	width: 100%;
	min-height: 30px;
	text-align: right;
}
.calBtn input{
	/*width: 60px;*/
	/*height: 28px;*/
	border: solid 1px #CCCCCC;
	margin: 7px;
}
.tabTaskSet{
	color: #333333;
	border-color: #B4B2B2;
	width: 110px;
}
.profileCloseBtn{
	position: absolute;margin: 5px;
}

.setCol2 input[type='text'], .setCol2 input[type='password']{
	min-width: 40px;
	width:80%;
	min-height: 28px;
	border: solid 1px #CCCCCC;
	padding: 3px;
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-	border-radius: 3px;
	-moz-border-radius: 3px;
	
	margin-bottom: 3px;
	margin-top: 3px;
}
.calColorBox{
	min-width: 100px;
	min-height: 100px;
	max-width:372px;
	border: solid 1px #B4B2B2;
	background-color: #FFFFFF;
	position: fixed;
	margin-left: 62px;
	margin-top: -240px;
	display: none;
}
.calColorItem{
	width: 60px;
	height: 20px;
	cursor: pointer;
	float: left;
	/*margin: 1px;*/
	border: solid 1px #ffffff;
}
.calColorItem:hover{
	border: solid 1px #FF9B08;
}
.calColorHeader{
	width: 100%;
	height: 17px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*==========================*/
/*background vigcal*/
.bg0{
	background-image: url('/images/vc_skins/Bg_pattern_0.png');
}
.bg1{
	background-image: url('/images/vc_skins/Bg_pattern_1.png');
}
.bg2{
	background-image: url('/images/vc_skins/Bg_pattern_2.png');
}
.bg3{
	background-image: url('/images/vc_skins/Bg_pattern_3.png');
}
.bg4{
	background-image: url('/images/vc_skins/Bg_pattern_4.png');
}
.bg5{
	background-image: url('/images/vc_skins/Bg_pattern_5.png');
}
.bg6{
	background-image: url('/images/vc_skins/Bg_pattern_6.png');
}
.bg7{
	background-image: url('/images/vc_skins/Bg_pattern_7.png');
}
.bg8{
	background-image: url('/images/vc_skins/Bg_pattern_8.png');
}
.bg9{
	background-image: url('/images/vc_skins/Bg_pattern_9.png');
}
.bg10{
	background-image: url('/images/vc_skins/Bg_pattern_10.png');
}
.bg11{
	background-image: url('/images/vc_skins/Bg_pattern_11.png');
}
.bg12{
	background-image: url('/images/vc_skins/Bg_pattern_12.png');
}
.bg13{
	background-image: url('/images/vc_skins/Bg_pattern_13.png');
}
.bg14{
	background-image: url('/images/vc_skins/Bg_pattern_14.png');
}
.bg15{
	background-image: url('/images/vc_skins/Bg_pattern_15.png');
}
.bg16{
	background-image: url('/images/vc_skins/Bg_pattern_16.png');
}
.bg17{
	background-image: url('/images/vc_skins/Bg_pattern_17.png');
}
.bg18{
	background-image: url('/images/vc_skins/Bg_pattern_18.png');
}
.bg19{
	background-image: url('/images/vc_skins/Bg_pattern_19.png');
}
.bg20{
	background-image: url('/images/vc_skins/Bg_pattern_20.png');
}
.bg21{
	background-image: url('/images/vc_skins/Bg_pattern_21.png');
}
.bg22{
	background-image: url('/images/vc_skins/Bg_pattern_22.png');
}
.bg23{
	background-image: url('/images/vc_skins/Bg_pattern_23.png');
}
.bgColorBox{
	width: 100%;
	float: left;
	min-height: 30px;
	margin-top: 4px;
	margin-bottom: 5px;
}
.setColorItem{
	float: left;
	margin-right: 2px;
	margin-top: 2px;
}
.bgActive{
	border-color: #FF0000;
}
.bgBorder{
	border: solid 1px #FFFFFF;
}
