<div class="calDetail">
	<div class="calDetaiCnt radius8">
		<table border="0">
			<tr height="35px">
				<td align="center">
					<input type="text" placeholder="Enter app's passcode" />
				</td>
			</tr>
			<tr height="35px">
				<td align="center">
					<input type="text" placeholder="Enter passcode hint" />
				</td>
			</tr>
			<tr height="35px">
				<td>
					<p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has
						been the industry's standard dummy text ever since the 1500s, when an unknown printer'</p>
				</td>
			</tr>
		</table>
	</div>
</div>		
