<div class="calDetail">
	<div class="calDetaiCnt radius8">
		<table border="0">
			<tr>
				<td class="setCol1"><label class="setTitleCnt">Snooze every</label></td>
				<td class="setCol2">
					<select>
						<option value="5*60">5 mins</option>
						<option value="15*60">15 mins</option>
						<option value="30*60">30 mins</option>
						<option value="60*60">1 hour</option>
						<option value="24*60*60">1 day</option>
						<option value="2*24*60*60">2 days</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="setCol1"><label class="setTitleCnt">Alert sounds</label></td>
				<td class="setCol2">
					<select>
						<option>Default</option>
						<option>3d bird</option>
						<option>Army wake up</option>
						<option>Best amazing</option>
						<option>Best wake up</option>
						<option>Elegant ring</option>
						<option>Extreme clock</option>
						<option>Kill bill Whistle</option>
						<option>Nokia 2330 alert</option>
						<option>Sweetest tone</option>
						<option>Tokyo drift</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="setCol1"><label class="setTitleCnt">Default alert for new Event/ Task/ Note</label></td>
				<td class="setCol2">
					<select>
						<option>None</option>
						<option>Custom</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<div class="calBtn">
		<input type="button" value="Save changes" />
	</div>
</div>		
