
<div class="mpRowItem">
	<p>First Name (*)</p>
	<input type="text" value="Cong" />
</div>
<div class="mpRowItem">
	<p>Last Name (*)</p>
	<input type="text" value="Tran" />
</div>
<div class="mpRowItem">
	<p>Professonal Title (*)</p>
	<input type="text" value="Ky su phan mem" />
</div>
<div class="mpRowItem">
	<p>Years of Experience (*)</p>
	<input type="text" value="10" />
</div>
<div class="mpRowItem">
	<input name="newGra" id="newGra" type="checkbox" />
	<span for="newGra">I am a new graduate / have no work experience</span>
</div>
<a href="users/user_load_main_info" data-remote="true"><input type="button" value="Save" /></a>
<a href="users/user_load_main_info" data-remote="true"><input type="button" value="Cancel" /></a>
