
<div class="mpEditBtn"><a href="/users/user_edit_main_info" data-remote="true"><i class="fa fa-pencil"></i></a></div>
<div class="mpRowItem title"><label>Cong Tran</label></div>
<div class="mpRowItem">lap trinh vien</div>
<div class="mpRowItem">8 nam kinh nghiem</div>
<div class="mpRowItem">cong ty hien tai: Left coast logic</div>
<div class="mpRowItem">Tot nghiep truong: DH khoa hoc tu nhien</div>