<table width="100%" border="0">
	<tr>
		<td align="center">
			<div class="borderLeftStyle usrSignIn radiusNormal">
				<div class="loginLogo">
					<!-- <img src="/images/vc_logo/Icon_128x128@2x.png" width="60px;" /> -->
					Recover password
				</div>
				<div class="usrRow">
					<input type="text" name="email" placeholder="Enter your email to recover password" />
					<!-- <input type="text" name="email" id="si_email" placeholder="Email" /> -->
				</div>
				<div class="usrRow">
					<input class="radiusBorder" type="button" id="recoveryBtn" value="Recover password" />
					<p class="msgError" id="msgError"></p>
				</div>
				<div class="usrRow">
					Already a Jobbee's user? <a href="/sign_in">Sign in</a>
				</div>
				<div class="usrRow">
					<label>Don't have account yet? <a href="/sign_up">Register now!</a></label>
				</div>
			</div>
		</td>
	</tr>
</table>



