<div class="footer">
	<div class="jbFooter">
		<div class="ftBlockItem ftMenu">
			<a href="#">About us</a>
			<a href="#">Contact us</a>
			<a href="#">FAQ</a>
			<a href="#">Terms of use</a>
			<a href="#">Privacy Statement</a>
		</div>
		<div class="ftBlockItem ftMenu">
			<a href="#">My account</a>
			<a href="#">My Resumes</a>
			<a href="#">My jobs</a>
			<a href="#">Wish list</a>
		</div>
		<div class="ftBlockItem ftSubcribe">
			<p>Subcribe to us</p>
			<a href="#"><div class="radius80 iconFb"><i class="fa fa-facebook"></i></div></a>
			<a href="#"><div class="radius80 iconTwt"><i class="fa fa-twitter"></i></div></a>
			<a href="#"><div class="radius80 iconGplus"><i class="fa fa-google-plus"></i></div></a>
			<a href="#"><div class="radius80 iconLinkedin"><i class="fa fa-linkedin"></i></div></a>
		</div>
	</div>
	<p>Copyright &copy; <%=Time.zone.now.strftime('%Y')%> Job Bee. All rights reserved.</p>
</div>
